body{
    background-image: radial-gradient( rgb(127, 61, 233) 60%, rgb(103, 36, 226));
    background-repeat: no-repeat;
    color: #eee;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; 
}
 

.grid__container{
    display: grid;
    grid-template-columns: 100px 1fr 2fr 50px 30px ;
    /* grid-template-rows: 100px 100px 100px 100px; */
   
    
    
}

.grid__item{
    
    border: 1px solid;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-transform: uppercase;
    padding: 1rem;
    
}

